# Teste
> Conectando jupyter com fastpages

- toc: true
- branch: master
- badges: true
- comments: true
- author: Hamel Husain & Jeremy Howard
- categories: [fastpages, jupyter]

In [3]:
import pandas as pd
import numpy as np

In [8]:
data = np.random.randint(0,1000,(10,10))
data

array([[874, 261, 571, 789, 443, 831, 263, 729, 927, 435],
       [171, 657, 821, 424, 671,  81, 437, 775,  90,  12],
       [392, 830, 398, 498, 708, 591, 148, 610, 877, 106],
       [827, 704,  53, 817, 729, 115, 199,  66,  16, 396],
       [900, 985, 767, 761, 562, 492, 702, 976,  46, 181],
       [969, 835, 500, 589, 815, 566, 730, 147,  20, 251],
       [245, 441, 107, 768, 173, 916, 590, 380, 198, 499],
       [759, 593, 471, 332, 173, 897,  97, 231, 623, 852],
       [977, 459, 978, 278, 607, 646, 898, 786, 304, 223],
       [211, 211, 397, 143, 908, 633, 600, 358, 226, 452]])

In [9]:
df1 = pd.DataFrame(data)
df1

     0    1    2    3    4    5    6    7    8    9
0  874  261  571  789  443  831  263  729  927  435
1  171  657  821  424  671   81  437  775   90   12
2  392  830  398  498  708  591  148  610  877  106
3  827  704   53  817  729  115  199   66   16  396
4  900  985  767  761  562  492  702  976   46  181
5  969  835  500  589  815  566  730  147   20  251
6  245  441  107  768  173  916  590  380  198  499
7  759  593  471  332  173  897   97  231  623  852
8  977  459  978  278  607  646  898  786  304  223
9  211  211  397  143  908  633  600  358  226  452

In [14]:
#hide_input
df2 = pd.DataFrame(data)
df2

     0    1    2    3    4    5    6    7    8    9
0  874  261  571  789  443  831  263  729  927  435
1  171  657  821  424  671   81  437  775   90   12
2  392  830  398  498  708  591  148  610  877  106
3  827  704   53  817  729  115  199   66   16  396
4  900  985  767  761  562  492  702  976   46  181
5  969  835  500  589  815  566  730  147   20  251
6  245  441  107  768  173  916  590  380  198  499
7  759  593  471  332  173  897   97  231  623  852
8  977  459  978  278  607  646  898  786  304  223
9  211  211  397  143  908  633  600  358  226  452

In [15]:
#hide
df3 = pd.DataFrame(data)
df3

     0    1    2    3    4    5    6    7    8    9
0  874  261  571  789  443  831  263  729  927  435
1  171  657  821  424  671   81  437  775   90   12
2  392  830  398  498  708  591  148  610  877  106
3  827  704   53  817  729  115  199   66   16  396
4  900  985  767  761  562  492  702  976   46  181
5  969  835  500  589  815  566  730  147   20  251
6  245  441  107  768  173  916  590  380  198  499
7  759  593  471  332  173  897   97  231  623  852
8  977  459  978  278  607  646  898  786  304  223
9  211  211  397  143  908  633  600  358  226  452